@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1620620608828') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconmoban:before {
  content: "\e609";
}

.icon-meinv:before {
  content: "\e605";
}

.icon-arrow-up1:before {
  content: "\e501";
}

.icon-wanghongshuaige:before {
  content: "\e62e";
}

.icon-ceshi:before {
  content: "\e8ad";
}

.icon-dianzan:before {
  content: "\e8ae";
}

